@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}


/* Nav bar starts */

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    font-size: 20px;
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 26px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0px 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7)url('../img/img.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.background_new{
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    background-blend-mode: darken;
}


/* Nav bar ends */

/* First section starts */

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 60%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.firstHalf .text-big{
    padding: 12px 0px;
    font-size: 48px;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 100px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
}

.text-big a{
    color: black;
    text-decoration: none;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 2px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* First section ends */

/* Section starts */

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    flex-direction: row-reverse;
    margin-top: 6%;
    margin-bottom: 6%;
}

.paras{
    padding: 0px 65px;
}

.sectionSubTag{
    font-family: -webkit-body;
    font-size: 18px;
}

.imgFluid{
    width: 300px;
    border: 2px solid black;
    margin-top: 19px;
    border-radius: 18px;
}

.sectionTag{
    padding: 12px 0px;
}

/* Section ends */

/* Contact starts */

.contact{
    background-color: #f6f5f4;
    height: 600px;
}

.text-contact{
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0px;
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    
}

.btn-dark{
    color: black;
    border: 2px solid grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 10%;
}

/* Contact Ends */

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.mailing-list{
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: 3px solid black;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

.hide{
    margin: auto;
}

.mailing-list img{
    width: 27px;
    margin: auto;
}

.lastOuter{
    height: 150px;
    background-color: #f6f5f4;
    background-size: cover;
    background-blend-mode: darken;
}

.lastInner{
    display: flex;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 26px;
    font-family: 'Ubuntu', sans-serif;
}

.tableContent{
    margin-left: 70px;
    margin-right: 70px;
}

.lastList{
    list-style: none;
}

.footer_text{
    padding: 3px 0px;
}

.lastList a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: auto;
}

.colheading{
    font-size: 18px;
}

#join_list{
    width: 300px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    margin-left: 40px;
    padding: 5px;
}

.footer{
    text-align: center;
    padding: 15px 0px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(83, 79, 79);
}

.footer_elements a{
    text-decoration: none;
    color: rgb(83, 79, 79);
    padding: 3px 14px;
}

.footer_elements a:hover{
    color: white;
}

.btn-width{
    max-width: 60px;
    margin-left: 20px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 478px;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .signup{
        flex-direction: column;
    }
    #join_list{
        margin: 0px;
    }
    .btn-width{
        margin: 0px;
    }
    .btn-dark{
        width: 30%;
    }
    .hidden{
        display: none;
        flex-direction: column;
    }
    .tableContent{
        margin: auto;
    }
    .copyright{
        margin: auto;
        flex-direction: column;
    }
    .footer_elements{
        margin: auto;
        flex-direction: column;
    }
    .secondHalf img{
        margin-top: 50%;
    }
    .background{
        height: 100vh;
    }
}